---
import Layout from '../layouts/Layout.astro';
import ProjectList from '../components/ProjectList.astro';


---

<Layout title="Looking at the Past">
    <div class="container">
        <ProjectList />
    </div>
</Layout>