---
---

<div class="pb-10 text-xl">
  <p class="">
    Hello! My name is Mariusz. I'm a front-end developer with some backend and
    ops knowledge with 3 years of commercial experience. Previously I was an
    event manager and small studio video & streaming producer.
    Worked with smaller clients and bigger brands like Mentos, Coca Cola, Huawei, Riot Games, ESL, Tiger Energy Drink. 
  </p>
  <p class="">
    Fascinated by new technologies, striving for better future, spreading
    knowledge about mental health.
  </p>
</div>
