---
const about = "";
---

<p class="">
  Hello! I'm a front-end developer with some backend and ops knowledge with 3
  years of commercial experience. Previously I was an event manager and small
  studio video & streaming producer.
</p>
<p>
  Fascinated by new technologies, striving for better future, spreading knowledge about mental health.
</p>
